<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen, projection" href="http://localhost:2020/dev/css/screen.css" />
<script type="text/javascript" src="http://localhost:2020/dev/js/page.js"></script>
<script type="text/javascript" src="http://localhost:2020/dev/js/promise.min.js"></script>
<script type="text/javascript">
function loadPage(resturl){
	var container = 'content';
	promise.get(resturl,{},{"Accept":"application/json"}).then(function(error, data, xhr) {
	    if (error) {console.log('Error ' + xhr.status);return;}    
	    var parsed_data = JSON.parse(data);
	    var content = parsed_data.Content;
	    var title = parsed_data.Title;
	    var url = parsed_data.Url;
	    top.document.title = title;
	    if ( url == "404" ) {
	    	top.document.getElementById(container).innerHTML = '<h1 class="gc">Page not found</h1>'
	    } else {
	    	top.document.getElementById(container).innerHTML = content;
	    }
	});
	return
}
page('/', function(ctx, next) { loadPage('/x') } );
{{ template "routes.js" . }}
page();
</script>