<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{ .Title }}</title>
	{{ template "head.html" . }}
</head>

<body>
	<div id="header">
		{{ template "header.html" . }}
	</div>
	<div id="navbar">
		<a href="/">Home</a>
		<a href="/page1">Page 1</a>
		<a href="/page1/1/">Page 1/1</a>
		<a href="/page2">Page 2</a>
		<a href="/page3">Page 3</a>
	</div>
	<div id="content">
	</div>
	<div id="footer">
		{{ template "head.html" . }}
	</div>
</body>
</html>